.u-section-1 .u-sheet-1 {
  min-height: 89px;
}

.u-section-1 .u-group-1 {
  width: 732px;
  min-height: 59px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 30px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 40px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/background4.png");
  background-position: 50% 50%;
  min-height: 994px;
}

.u-section-3 .u-group-1 {
  width: 364px;
  min-height: 584px;
  height: auto;
  --animation-custom_in-scale: 0.3;
  margin: 226px auto 0 calc(((100% - 1140px) / 2) + 105px);
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-family: "Courier New", monospace;
  width: 275px;
  margin: 121px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 50px 71px 0 93px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  width: 248px;
  margin: 45px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 46px;
  min-height: 16px;
  width: 158px;
  min-width: 68px;
  margin: 37px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-image-1 {
  width: 228px;
  height: 228px;
  background-image: url("images/vinay.jpeg");
  background-position: 50% 50%;
  margin: -716px auto 0 calc(((100% - 1140px) / 2) + 175px);
}

.u-section-3 .u-text-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 4px calc(((100% - 1140px) / 2) + 127px) 0 calc(((100% - 1140px) / 2) + 630px);
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + -19px);
  height: 48px;
  background-image: none;
  margin: -443px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 29px;
  height: 381px;
  background-image: none;
  margin: 43px 0 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 31px;
  height: 162px;
  background-image: none;
  margin: 186px auto 0 calc(((100% - 1140px) / 2) + -52px);
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -354px calc(((100% - 1140px) / 2) + 29px) 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 820px;
  }

  .u-section-3 .u-group-1 {
    min-height: 602px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-top: 197px;
    margin-left: calc(((100% - 940px) / 2) + 74px);
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 167px;
  }

  .u-section-3 .u-text-2 {
    width: 200px;
  }

  .u-section-3 .u-text-3 {
    width: 239px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 157px;
    margin-top: 20px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -728px;
    margin-left: calc(((100% - 940px) / 2) + 154px);
  }

  .u-section-3 .u-text-4 {
    margin-top: 45px;
    margin-right: calc(((100% - 940px) / 2) + 27px);
    margin-left: calc(((100% - 940px) / 2) + 530px);
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + -19px);
  }

  .u-section-3 .u-shape-3 {
    margin-left: calc(((100% - 940px) / 2) + -52px);
  }

  .u-section-3 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 181px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 628px;
  }

  .u-section-3 .u-group-1 {
    width: 346px;
    min-height: 486px;
    margin-top: 248px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 107px;
    margin-right: 41px;
    margin-left: 48px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 111px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -172px;
    margin-right: 53px;
    margin-left: 73px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 158px;
    margin-top: 550px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -625px;
    margin-left: calc(((100% - 720px) / 2) + 59px);
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -12px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 371px);
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + -19px);
    margin-top: -468px;
  }

  .u-section-3 .u-shape-3 {
    width: calc(((100% - 720px) / 2) + -19px);
    margin-top: 166px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -315px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 471px;
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-1 {
    margin-top: 62px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 157px;
    margin-top: 180px;
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 59px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 191px);
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + -19px);
    margin-top: -467px;
  }

  .u-section-3 .u-shape-3 {
    width: calc(((100% - 540px) / 2) + -19px);
  }

  .u-section-3 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1154px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 497px;
    margin-top: 153px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 124px;
    margin-right: 43px;
    margin-left: 22px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 26px;
    margin-left: 81px;
    margin-right: 59px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -355px;
    margin-right: 56px;
    margin-left: 83px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 158px;
    margin-top: 372px;
    margin-right: 84px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -629px;
    margin-right: calc(((100% - 340px) / 2) + 49px);
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 427px;
    margin-right: calc(((100% - 340px) / 2) + -7px);
    margin-left: calc(((100% - 340px) / 2) + 7px);
  }

  .u-section-3 .u-shape-1 {
    width: 31px;
    margin-top: -906px;
    margin-left: calc(((100% - 340px) / 2) + -49px);
  }

  .u-section-3 .u-shape-2 {
    margin-top: 61px;
  }

  .u-section-3 .u-shape-3 {
    width: calc(((100% - 340px) / 2) + -19px);
  }

  .u-section-3 .u-btn-1 {
    margin-top: 107px;
    margin-right: calc(((100% - 340px) / 2) + -14px);
    margin-bottom: 60px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 13px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 40px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/background4.png");
  background-position: 50% 50%;
  min-height: 928px;
}

.u-section-5 .u-group-1 {
  width: 364px;
  min-height: 584px;
  height: auto;
  --animation-custom_in-scale: 0.3;
  margin: 226px auto 0 calc(((100% - 1140px) / 2) + 105px);
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-family: "Courier New", monospace;
  margin: 121px 23px 0 66px;
}

.u-section-5 .u-text-2 {
  margin: 50px 71px 0 93px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 46px 69px 0 93px;
}

.u-section-5 .u-social-icons-1 {
  height: 46px;
  min-height: 16px;
  width: 158px;
  min-width: 68px;
  margin: 36px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-image-1 {
  width: 228px;
  height: 228px;
  background-image: url("images/jai.jpg");
  background-position: 50% 50%;
  margin: -716px auto 0 calc(((100% - 1140px) / 2) + 175px);
}

.u-section-5 .u-text-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 4px calc(((100% - 1140px) / 2) + 127px) 0 calc(((100% - 1140px) / 2) + 630px);
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 23px calc(((100% - 1140px) / 2) + 70px) 0 auto;
  padding: 0;
}

.u-section-5 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + -16px);
  height: 96px;
  background-image: none;
  margin: -541px auto 0 0;
}

.u-section-5 .u-shape-2 {
  width: 29px;
  height: 381px;
  background-image: none;
  margin: 43px 0 0 auto;
}

.u-section-5 .u-shape-3 {
  width: 31px;
  height: 162px;
  background-image: none;
  margin: 154px auto 33px calc(((100% - 1140px) / 2) + -47px);
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 765px;
  }

  .u-section-5 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 105px);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    width: 275px;
    margin-top: 167px;
  }

  .u-section-5 .u-text-2 {
    width: 200px;
  }

  .u-section-5 .u-text-3 {
    width: 202px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 157px;
    margin-top: 20px;
  }

  .u-section-5 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 175px);
  }

  .u-section-5 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 27px);
    margin-left: calc(((100% - 940px) / 2) + 530px);
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + -16px);
  }

  .u-section-5 .u-shape-3 {
    margin-left: calc(((100% - 940px) / 2) + -47px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 914px;
  }

  .u-section-5 .u-group-1 {
    width: 346px;
    min-height: 486px;
    margin-top: 248px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 107px;
    margin-right: 41px;
    margin-left: 48px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 111px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -172px;
    margin-right: 53px;
    margin-left: 73px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 158px;
    margin-top: 550px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -625px;
    margin-left: calc(((100% - 720px) / 2) + 59px);
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -12px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 371px);
  }

  .u-section-5 .u-btn-1 {
    margin-top: 48px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + -16px);
  }

  .u-section-5 .u-shape-3 {
    width: calc(((100% - 720px) / 2) + -19px);
    margin-top: 166px;
    margin-bottom: 4px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 686px;
  }

  .u-section-5 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-1 {
    margin-top: 62px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 157px;
    margin-top: 180px;
  }

  .u-section-5 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 59px);
  }

  .u-section-5 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 191px);
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + -16px);
  }

  .u-section-5 .u-shape-3 {
    width: calc(((100% - 540px) / 2) + -19px);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1022px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    min-height: 497px;
    margin-top: 153px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 124px;
    margin-right: 43px;
    margin-left: 22px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 26px;
    margin-left: 81px;
    margin-right: 59px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -355px;
    margin-right: 56px;
    margin-left: 83px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 158px;
    margin-top: 372px;
    margin-right: 84px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -629px;
    margin-right: calc(((100% - 340px) / 2) + 49px);
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    width: 340px;
    margin-top: 431px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 18px;
    margin-right: calc(((100% - 340px) / 2) + -37px);
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + -22px);
    height: 134px;
    margin-top: -524px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -543px;
  }

  .u-section-5 .u-shape-3 {
    width: 31px;
    margin: 299px 0 60px auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 15px;
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/background4.png");
  background-position: 50% 50%;
}

.u-section-7 .u-group-1 {
  width: 364px;
  min-height: 584px;
  height: auto;
  --animation-custom_in-scale: 0.3;
  margin: 226px auto 0 calc(((100% - 1140px) / 2) + 105px);
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-family: "Courier New", monospace;
  margin: 121px 69px 0 45px;
}

.u-section-7 .u-text-2 {
  margin: 50px 71px 0 93px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 46px 69px 0 93px;
}

.u-section-7 .u-social-icons-1 {
  height: 46px;
  min-height: 16px;
  width: 158px;
  min-width: 68px;
  margin: 36px auto 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-image-1 {
  width: 228px;
  height: 228px;
  background-image: url("images/avi.jpeg");
  background-position: 50% 50%;
  margin: -716px auto 0 calc(((100% - 1140px) / 2) + 175px);
}

.u-section-7 .u-text-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 4px calc(((100% - 1140px) / 2) + 127px) 0 calc(((100% - 1140px) / 2) + 630px);
}

.u-section-7 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + -19px);
  height: 48px;
  background-image: none;
  margin: -443px auto 0 0;
}

.u-section-7 .u-shape-2 {
  width: 29px;
  height: 381px;
  background-image: none;
  margin: 43px 0 0 auto;
}

.u-section-7 .u-shape-3 {
  width: 31px;
  height: 162px;
  background-image: none;
  margin: 187px auto 0 calc(((100% - 1140px) / 2) + -52px);
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -342px calc(((100% - 1140px) / 2) + 57px) 60px auto;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 302px calc(((100% - 340px) / 2) + -30px) -112px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 105px);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    width: 275px;
    margin-top: 167px;
  }

  .u-section-7 .u-text-2 {
    width: 200px;
  }

  .u-section-7 .u-text-3 {
    width: 202px;
  }

  .u-section-7 .u-social-icons-1 {
    width: 157px;
    margin-top: 20px;
  }

  .u-section-7 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 175px);
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 27px);
    margin-left: calc(((100% - 940px) / 2) + 530px);
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + -19px);
  }

  .u-section-7 .u-shape-3 {
    margin-left: calc(((100% - 940px) / 2) + -52px);
  }

  .u-section-7 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 346px;
    min-height: 486px;
    margin-top: 248px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 107px;
    margin-right: 41px;
    margin-left: 48px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 111px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: -172px;
    margin-right: 53px;
    margin-left: 73px;
  }

  .u-section-7 .u-social-icons-1 {
    width: 158px;
    margin-top: 550px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -625px;
    margin-left: calc(((100% - 720px) / 2) + 59px);
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: -12px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 371px);
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + -19px);
    margin-top: -466px;
  }

  .u-section-7 .u-shape-3 {
    width: calc(((100% - 720px) / 2) + -19px);
    margin-top: 166px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -338px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-1 {
    margin-top: 62px;
  }

  .u-section-7 .u-social-icons-1 {
    width: 157px;
    margin-top: 180px;
  }

  .u-section-7 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 59px);
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 191px);
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + -19px);
  }

  .u-section-7 .u-shape-3 {
    width: calc(((100% - 540px) / 2) + -19px);
  }

  .u-section-7 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1002px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    min-height: 497px;
    margin-top: 152px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 120px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 29px;
    margin-right: 59px;
    margin-left: 81px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -355px;
    margin-right: 56px;
    margin-left: 83px;
  }

  .u-section-7 .u-social-icons-1 {
    width: 158px;
    margin-top: 372px;
    margin-right: 84px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -629px;
    margin-right: calc(((100% - 340px) / 2) + 49px);
    margin-left: auto;
  }

  .u-section-7 .u-text-4 {
    width: 340px;
    margin-top: 431px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-shape-1 {
    width: 31px;
    margin-top: -884px;
    margin-left: calc(((100% - 340px) / 2) + -49px);
  }

  .u-section-7 .u-shape-2 {
    margin-top: 27px;
  }

  .u-section-7 .u-shape-3 {
    width: calc(((100% - 340px) / 2) + -18px);
    height: 174px;
    margin-top: 177px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -227px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 30px;
}